:root {
    --white : #fff;
    --black : #000;
    --gray : #7e7e7e;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--black);
    font-family: 'Inknut Antiqua', serif;
    padding-bottom: 2rem;
    overflow-x:hidden;  /*для горизонтального*/
}

.Header, .Landing, .Selected, .Profile, .ContentForm, .Footer {
    padding-left: 80px;
    padding-right: 80px;
    color: var(--white);
}

.Header {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: var(--gray);
    opacity: 0.8;
    color: var(--white);
}

.headerButton, .languageButton {
    font-family: 'Inknut Antiqua', serif;
    cursor: pointer;
    background: none;
    border: none;
    color: var(--white);
}

.Landing {
    color: var(--white);
    background-image: url("../assets/animation.gif");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 42%;
    height: 80vh;
}

.Name {
    font-size: clamp(2rem, 10vw, 6rem);
    font-weight: bold;
    margin-top: 4rem;
    margin-bottom: 0;
}

.Description {
    font-size: 24px;
    margin: 0;
}

.Works {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.SelectedWork {
    font-size: 64px;
    margin-bottom: 0;
    background-image: url("../assets/text_bg1.jpg");
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: 63rem;
    font-weight: bold;
}

.SelectedCard {
    width: 600px;
    height: 650px;
}

.SelectedCardSecond {
    width: 900px;
    height: 650px;
}

.DescriptionCard {
    font-size: 24px;
    background-image: url("../assets/bg_text2.jpg");
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: right -8rem;
    padding-bottom: 15rem;
}

.Profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16rem;
    padding-bottom: 10rem;
}

.flowers {
    position: absolute;
    left: 4.2rem;
    top: 138rem;
}

.avatar {
    background-image: url("../assets/reg_avatar.svg");
    background-repeat: no-repeat;
    background-position: center;
    padding: 4rem;
    margin-top: 4.5rem;
}

.ProfileInfo {
    padding-bottom: 10rem;
}

.h1Profile {
    font-size: 58px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 5rem;
}

.DescriptionProfile {
    font-size: 18px;
    margin: 0;
}

.forButton {
    margin-top: 2rem;
    margin-bottom: 2.8rem;
    font-size: 20px;
}

.ButtonClass {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.buttonProfile, .buttonForm {
    border: 2px solid var(--white);
    font-family: 'Inknut Antiqua', serif;
    border-radius: 0.7rem;
    font-weight: light;
    font-size: 20px;
    background-color: var(--black);
    color: var(--white);
    padding: 0.5rem 2.5rem;
    cursor: pointer;
    transition: 0.4s ease-in-out all;
}

.buttonProfile:hover, .buttonForm:hover {
    background-color: var(--white);
    color: var(--black);
}

.ContentForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 18rem;
}

.bgLetter {
    width: 30rem;
    height: 30rem;
}

.Form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 30rem;
}

.FormTitle {
    font-size: 48px;
    font-weight: bold;
}

.FormInput, .FormInputMessage {
    background-color: black;
    border: none;
    padding-bottom: 0.1rem;
    border-bottom: 2px solid var(--white);
    font-size: 20px;
    font-weight: light;
    color: var(--white);
    font-family: 'Inknut Antiqua', serif;
    outline: none;
}

.FormInput::placeholder, .FormInputMessage::placeholder {
    color: var(--gray);
}

.FormInputMessage {
    padding-bottom: 2.5rem;
}

.buttonForm {
    margin-top: 3rem;
}

.Footer {
    color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
    gap: 1.5rem;
    height: 4rem;
}

.FooterTitle {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.SocialButtons {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.SocialButton {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.modal {
    background-color: var(--gray);
    color: var(--black);
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
    z-index: 1000;
}
  
.modal_text {
    margin: 8px 0;
}
  
.modal_button {
    margin: 8px;
    padding: 6px 30px;
    cursor: pointer;
    font-family: 'Inknut Antiqua', serif;
    border-radius: 0.7rem;
    font-weight: light;
    transition: 0.4s ease-in-out all;
    border: none;
    padding-bottom: 0.1rem;
    border: 2px solid var(--black);
}

.modal_button:hover {
    background-color: var(--black);
    color: var(--white);
}

@media only screen and (max-width: 500px) {

    body {
        overflow-x:hidden;  /*для вертикального*/
    }

    .Landing {
        background-image: none;
        background-image: url("../assets/text_bg1.jpg");
        background-size: 80%;
        background-position: 5rem 20rem;
    }

    .Name {
        font-size: 40px;
        margin-top: 10rem;
    }

    .Description {
        font-size: 20px;
    }

    .SelectedWork {
        font-size: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Header, .Landing, .Selected, .Profile, .ContentForm, .Footer {
        padding-left: 40px;
        padding-right: 40px;
        color: var(--white);
    }

    .Works {
        display: flex;
        flex-direction: column;
    }

    .SelectedCard, .SelectedCardSecond {
        width: 100%;
        height: 100%;
    }

    .DescriptionCard {
        background-image: url("../assets/bg_text2.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        font-size: 15px;
        padding-bottom: 15rem;
    }

    .Profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .flowers {
        position: absolute;
        left: -3rem;
        top: 150rem;
        width: 80%;
    }

    .avatar {
        background-image: url("../assets/reg_avatar.svg");
        background-repeat: no-repeat;
        background-position: center;
        width: 18rem;
        background-size: 84%;
        margin: 0;
        margin-top: 5rem;
    }

    .ProfileInfo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5rem;
    }

    .h1Profile {
        font-size: 32px;
    }

    .DescriptionProfile {
        font-size: 18px;
        display: flex;
        text-align: left;
    }

    .forButton {
        font-size: 24px;
        display: flex;
        text-align: left;
    }

    .ButtonClass {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .ContentForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 5rem;
    }

    .Form {
        width: 24rem;
    }

    .buttonForm {
        width: 100%;
    }

    .emailError {
        display: flex;
        text-align: left;
    }

    .Footer {
        display: flex;
        justify-content: center;
    }
}